<?xml version="1.0"?>
<model>
  <name>aruco_box_1</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>

  <author>
    <name>Your Name</name>
    <email>your.email@example.com</email>
  </author>

  <description>
    A 1m x 1m x 1m grey box with an ArUco marker on the front face
  </description>
</model>